---
import Layout from '../layouts/Layout.astro';
import About from '../components/about/About.astro';
import Projects from '../components/projects/Projects.astro';
import Blogs from '../components/blogs/Blogs.astro';
import Certification from '../components/certifications/Certification.astro';
import Footer from '../components/footer/Footer.astro';
---

<Layout title="Drospi's Portfolio">
	<main>
		<About></About>
		<Projects></Projects>
		<Blogs></Blogs>
		<Certification></Certification>
		<Footer></Footer>
	</main>
</Layout>

