---
import HeaderButton from "./HeaderButton.astro";
---
<div id="about">

</div>
<header class=" w-full sticky z-10 py-4 top-0 m-0 bg-[#161b2b] ">
    <div class="max-w-4xl ml-auto mr-auto flex text-white py-4 mt-4 px-8 justify-between items-center">
        <h1 class="text-3xl font-black ">Drospi's Portfolio</h1>
        <nav class="text-gray-200 ">
            <HeaderButton href="#blog">Blog</HeaderButton>
            <HeaderButton href="#about">About</HeaderButton>
            <HeaderButton href="#projects">Portafolio</HeaderButton>
        </nav>
    </div>
</header>