---
import Contact from './Contact.astro'
---
<footer class="bg-[#151820] w-full">
    <div class="max-w-3xl ml-auto mr-auto px-8 my-4">
        <div class="grid grid-cols-2 gap-8 shadow-md rounded p-8 max-w-3xl w-full">
          <div class="col-span-1">
            <h2 class="text-3xl font-bold mb-4 text-white">Why Hire <span class='text-blue-500'>Me?</span> </h2>
            <p class="text-gray-300 text-md leading-relaxed">
                I bring a diverse skill set that covers front-end and back-end development using modern frameworks like React, Vue.js, Node.js, and Python. I adapt quickly to new technologies and environments.</p>
                <br/><p>
                Collaboration is key—I communicate technical concepts clearly and work well in teams. I approach coding as a creative problem-solving process, focusing on delivering high-quality, scalable, and maintainable code.
                
            </p>
          </div>
          <Contact></Contact>
        </div>
      </div>
      <div class="w-11/12 mx-auto h-0.5 px-4 bg-gray-500"><span class="h-0.5 w-full bg-gray-500"></span></div>
      <p class="text-gray-400 text-md text-center py-4">© Copyright 2023 by <a href='#about' class="text-cyan-500">Drospi</a>. All rights reserved</p>
    </footer>